<div class="table-responsive">
  <table class="table">
    <thead>
      <th></th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </thead>

    <tbody>
      <tr class="table-light">
        <td>comida</td>
        
          {{#each comida}} 

        <td> 
            <div class='card shadow-sm'>
              <a class="image" href="recipes/{{this.apiId}}">
                <img src="{{this.image}}" alt="imagen comida">
              </a>
              <p>{{this.title}}</p>
            </div>
        </td>     
          {{/each}}  
      </tr>

      <tr class="table-light">
        <td>cena</td>
        
          {{#each cena}} 

        <td> 
            <div class='card shadow-sm'>
              <a class="image" href="recipes/{{this.apiId}}">
                <img src="{{this.image}}" alt="imagen comida">
              </a>
              <p>{{this.title}}</p>
            </div>
        </td>     
          {{/each}}  
      </tr>
    </tbody>
  </table>
</div>