<div class="table-responsive">
  <table class="table">
    <thead>
      <th></th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </thead>

    <tbody>
      <tr class="table-light">
        <td>comida</td>
        
          {{#each comida}}
        <td> 
            <div class='card shadow-sm'>
              <a class="image" href="recipes/{{this.apiId}}">
                <img src="{{this.image}}" alt="imagen comida">
              </a>
              <p>{{this.title}}</p>
            </div>
        </td>     
          {{/each}}  
      
        {{!-- <td>
          {{comida[1]}}
            <div class='card shadow-sm'>
              <a class="image" href="recipes/{{this.apiId}}">
                <img src="{{this.image}}" alt="imagen comida">
              </a>
              <p>{{this.title}}</p>
            </div>
        </td>
        <td>
          {{comida[2]}}
            <div class='card shadow-sm'>
              <a class="image" href="recipes/{{this.apiId}}">
                <img src="{{this.image}}" alt="imagen comida">
              </a>
              <p>{{this.title}}</p>
            </div>
        </td>
        <td>
          {{comida[3]}}
            <div class='card shadow-sm'>
              <a class="image" href="recipes/{{this.apiId}}">
                <img src="{{this.image}}" alt="imagen comida">
              </a>
              <p>{{this.title}}</p>
            </div>
        </td>
        <td>
          {{comida[4]}}
            <div class='card shadow-sm'>
              <a class="image" href="recipes/{{this.apiId}}">
                <img src="{{this.image}}" alt="imagen comida">
              </a>
              <p>{{this.title}}</p>
            </div>
        </td>
        <td>
          {{comida[5]}}
            <div class='card shadow-sm'>
              <a class="image" href="recipes/{{this.apiId}}">
                <img src="{{this.image}}" alt="imagen comida">
              </a>
              <p>{{this.title}}</p>
            </div>
        </td>
        <td>
          {{comida[6]}}
            <div class='card shadow-sm'>
              <a class="image" href="recipes/{{this.apiId}}">
                <img src="{{this.image}}" alt="imagen comida">
              </a>
              <p>{{this.title}}</p>
            </div>
        </td> --}}
      </tr>
      <tr class="table-light">
        <td>cena</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
      </tr> 
    </tbody>
  </table>
</div>